.preview {
  display: flex;
  flex-direction: column;
}

@media(min-width: 600px) {
  .preview {
    margin: -1.3333rem;
    padding: 1.3333rem;
    transition: box-shadow .2s cubic-bezier(.4,0,.2,1);
    flex-direction: row;
  }
  .preview:hover {
    box-shadow: 0 10px 40px 0 rgba(0,0,0,0.2);
  }
}

.previewImage {
  min-width: 20rem;
  max-width: 100%;
  margin-bottom: auto;
  border: 4px solid var(--bg);
  box-shadow: 0 0 0 3px transparent;
  transition: box-shadow .2s cubic-bezier(.4,0,.2,1);
}
a:focus.previewImage,
a:hover.previewImage,
a:active.previewImage {
  box-shadow: 0 0 0 3px var(--link-color);
}

@media(min-width: 600px) {
  .previewImage {
    margin-right: 5vmin;
  }
}

.previewHeader {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

@media(min-width: 600px) {
  .previewHeader {
    flex-direction: row-reverse;
  }
}

.previewFooter {
  font-size: smaller;
}

.previewTitle {
  font-size: 1.5em;
  margin-bottom: .33333rem;
}
@media(min-width: 600px) {
  .previewTitle {
    margin-top: 0;
  }
}

.tag {
  font-size: small;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  padding: .33333rem .5rem;
  line-height: 1;
  border-radius: 4px;
  background: var(--hr);
  margin: .5em 1em 1em 0;
}
@media(min-width: 600px) {
  .tag {
    margin: .5em 1em 1em auto;
  }
}
